/*  HTML5 Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


/* fixing firefox bug */
div:after, ol:after, li:after, form:after, ul:after, dl:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}

body { font:13px/1.231 sans-serif; *font-size:small;background:#f2f1eb; padding: 0 40px;} 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll;  overflow-x:hidden;}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #146387; color:#fff; text-shadow: none; }
::selection { background:#146387; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #146387; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Leonardo Balter
 */

html {background:#f2f1eb;}

#container {
	margin: 0px auto;
	width: 860px;
    font-family: 'Droid Sans', arial, serif;
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
transform: rotate(-1deg);

}

#logo {
    display: block;
    margin: 0 auto;
	position:relative;
	z-index:2;
}

.main {
	margin: 0px auto 20px;
	position: relative;
}

header {
	padding: 30px 0px;
	margin-bottom:60px;
}

header h1 {
   font-size:46px;
   color:#2e2e2e;
    text-align:center;
    margin: 20px;
}
header div {position: absolute; background:#26251e;height:200px; left:-600px; right:0; width:3000px;top:-50px;	z-index:0;}

header .description{
    display: block;
    font-size:14px;
    text-shadow: 0 1px 0 #fff;
	color:#146387;
	text-align: center;
}

h2 {
    font-family: 'Cabin Sketch', arial, serif;
    font-size: 36px;
    font-weight: 700;
    color:#333;
    margin-bottom: .2em;
}

p {
    font: normal 1em/1.4em arial, serif;
    color:#333;
    margin-bottom: 1em;
}

ul.linear {
	list-style: none;
}

ul.linear li {
	float: left;
	margin-top: 6px;
}

#main h3 {
    margin-top: 4px;
} 

#fromAPI {
    margin-top: 12px;
}

#share ul {
    list-style: none inside;
    padding: 0;
    margin: 16px 0 0;
}

#share li {
    float:left;
}

#facebookTop {
	position: absolute;
	top: 24px;
	right: 10px;
}

.hairline {
	border-bottom: 1px solid #bfbcad;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.pagination {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.pagePrev {
	position: absolute;
	left: 10px;
	top: 0;
}

.pageNext {
	position: absolute;
	right: 10px;
	top: 0;
}

.pagination .current {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 300px;
}

.linkButton, .linkButton:active, .linkButton:visited {
	display: inline-block;
	line-height: 20px;
	padding: 0 14px;
	border: 1px solid #EEE;
	background: #146387;
	color: #FFF;
	font-size: 10px;
	text-decoration: none;
	margin-right: 20px;
}

.linkButton:hover {
	text-decoration: underline;
	color: #FFF;
}

#navtop {
	margin-bottom: 6px;
}

.temas {
    list-style: none inside;
    padding-left: 0;
    margin-left: 0;
    padding-top: 30px;
    line-height: 1.8em;
}

/*.temas > li {
    padding: 20px;
    margin-bottom: 60px;
    background: white;
    padding: 20px;
    border-radius:0 14px 14px/18px 12px;
    -moz-border-radius: 0 14px 14px/18px 12px;
    border: #fff 1px solid;
}

.temas > li:hover {
    border: #146387 1px solid;
}
*/
.temas > li {
    padding: 20px 20px 40px;
	border-bottom: 1px solid #bfbcad;
    margin-bottom: 60px;
}
.temas > li:last-child {border: none; padding-bottom:0;margin:0;}

#map_canvas {
    height: 300px;
}

.apoio a {
	border:1px solid #bfbcad;
	background:#fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	display: block;
	height:auto;
	padding:20px;
	text-align:center;
	font: normal 4em/1.1em 'Carter One', arial;
	text-decoration: none;
	color:#333;
	letter-spacing: -.02em;
	margin-bottom:20px;
}
.apoio a:hover {border-color:#146387;}

.apoio ul {
    list-style: none;
    margin-left: 0;
}

#timeSlider {
    height: 380px;
    margin-bottom: 16px;
}

#timeglider-measure-span {
    display: none;
}

#listaPalestras ul {
    margin-top: 16px;
    margin-left: 0;
}

#listaPalestras h3 {
    margin-bottom: .8em;
	font: normal 2em/1.1em 'Carter One', arial;
	padding:20px;
	background: #26251e;
	color:#fff;
-webkit-transform: rotate(-1.1deg);
-moz-transform: rotate(-1.1deg);
-o-transform: rotate(-1.1deg);
transform: rotate(-1.1deg);
margin-left:-40px;
margin-top:-60px;
display: inline-block;
max-width:450px;
}
#listaPalestras li:hover h3 {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #146387;
}
	
	
#listaPalestras .keynoteRoom {
    font-weight: bolder;
	font-size:1.1em;
    margin: 5px 10px 5px 0;
	padding:7px 0 7px 32px;
	background: transparent url(../icon-room.png) no-repeat left top;
	float:left;
	width:100px;
	
}

#listaPalestras .keynoteTime {
		float:left;
	font-size:1.1em;
    margin: 5px 0;
	padding:7px 0 7px 36px;
	background: transparent url(../icon-clock.png) no-repeat left top;
}


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 800px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
/* large screen */
@media screen and (max-width: 980px) {	  
#container {
	width: 100%;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);

}
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  
  #share, #facebookTop, .pagination { display: none }
}
